*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

strong{
    padding-bottom: 50px;
    text-decoration: dashed;
}

.container {
    
    justify-content: center;
    align-items: center; 
    margin-left: 50px; 
}


.container h1{
    text-align: center;
    font-size: 40px;
    padding: 15px;
}

  

.items{
    display: flex;
       
    justify-content: center;
    align-items: center; 
    margin: 15px;
    width: 100%;
    
}

.images{
    border-radius: 50%;
    width: 150px;
    height: 150px;

}
.images .img-1{
    border-radius: 50%;
    padding: 2px;
    width: 140px;
    height: 140px;

}
.description{
    width: 500px;
    padding: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;

}


button{
    margin-top: 8px;
    width: 100px;
    height: 25px;
    padding: 2px;
    border: none;
    border-radius: 20px;
    font-weight: 300;
    font-size: 10px;
    background-color:rgba(207, 224, 57, 0.919);
    color: #fff;
}


  .price
  {
    top: 0;
    margin-left: 25px;
    display: flex;
  }
  
.columns {
    
    column-count:3;
 
    column-rule: 2px solid #3366FF;
  }

  .videoPopup {
    position: fixed;
    justify-content: center;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1000; 
}

.productVideo {
    max-width: 50%;
    max-height: 50%;
    margin-top: 50px;
    margin-left: 25%;
    display: block;
}

.close{
    position:absolute;
    top: 5px;
    right: 20px;
    font-size: 25px;
    font-weight: bolder;
    z-index: 100;
    color: #fff;
    cursor: pointer;
}



  @media (max-width: 768px) {
    .container {
         flex-direction: column; /* Stack items vertically on small screens */
     }
    }

   